@model frontend.Models.View.UserUpdateViewModel

<h2>User Details</h2>

<form asp-action="UpdateUser" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" />
    </div>
    
    <button type="submit">Update</button>
</form>
